
@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  url('AvenirNextLTPro-Bold.otf')  format('opentype'),
	     url('AvenirNextLTPro-Bold.woff') format('woff'), url('AvenirNextLTPro-Bold.ttf')  format('truetype'), url('AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-It';
  src: url('AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),  url('AvenirNextLTPro-It.otf')  format('opentype'),
	     url('AvenirNextLTPro-It.woff') format('woff'), url('AvenirNextLTPro-It.ttf')  format('truetype'), url('AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('AvenirNextLTPro-Regular.otf')  format('opentype'),
	     url('AvenirNextLTPro-Regular.woff') format('woff'), url('AvenirNextLTPro-Regular.ttf')  format('truetype'), url('AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
