
body {
    color: #555;
}

#mainNav .img-logo {
    max-height: 108px;
    margin: -8px;
}



.top-nav-space {
    top: 178px; 
    position: relative;
    
}

#mainNav li.nav-item {
    margin: 0 0 -12px 0em;
}




.masthead {
    
    overflow: hidden;
    
}

    
.masthead .innovation-badge {
        position: absolute;
        top: 2em;
        right: 9em;
        width: 9em;
        transform: rotate(-9deg);
        z-index: 999;
}




.masthead .hero-overlay {
    background: -webkit-linear-gradient(rgba(8, 8, 8, 0.67), rgba(154, 154, 154, 0));
    background: -moz-linear-gradient(rgba(8, 8, 8, 0.67), rgba(154, 154, 154, 0));
    background: -o-linear-gradient(rgba(8, 8, 8, 0.67), rgba(154, 154, 154, 0));
    background: linear-gradient(rgba(8, 8, 8, 0.67), rgba(154, 154, 154, 0));
    position: absolute;
    top: -7em;
    height:100%;
}



.masthead .carousel-control-prev, .masthead .carousel-control-next {
    height: 100%;
    z-index: 99;
}




.hero-overlay svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: block;
}

.hero-overlay .intro-text {
    z-index: 99;

}
.hero-overlay .intro-text  div {
    text-shadow: 0px 0px 20px black;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 18px;
}


header.masthead .intro-text .intro-heading {
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 18px;

}

#ziele {
    padding-top: 3em;
}

#ziele p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}




#ziele .card-footer, #ziele .card-body {
    padding: 0;
}



#about table td {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 1.2em 0 0 0;
}

#about tr td:first-child {
    text-align: right !important;
}
#about tr td:first-child p {
    margin: 0 2em !important;
}


#member li {
    line-height: 1.75;
    margin: 0 0 0.8em 0;
}

#downloads a h4{
    color: #555;
}
#downloads a{
    yytext-decoration:none;
}


#contact .bgcontact {
    background: white;
    
    
}

#contact .container {
    background: rgb(255,255,255,0.4);
    padding: 3em;
} 

@media (min-width: 1200px){
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 1em 100px 20px 20px!important;
    }
    
    .timeline > li .timeline-panel {
        padding: 1em 20px 20px 100px!important;
    }
}




#portfolio .portfolio-item .portfolio-caption {

    min-height: 134px;
}



  

.timeline > li .timeline-image {
        background-color: #868686;
}

.timeline > li .timeline-image h4 {
    font-size: 16px;
    line-height: 14px;
    margin-top: 26px;
}





@media (min-width: 550px){
    
     #mainNav .img-logo {
        max-height: 112px;
        margin: -8px;
    }
    
}



@media (min-width: 768px){
     
     #mainNav .img-logo {
        max-height: 122px;
        margin: -26px;
    }

    
    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        margin-left: -50px;
        
    }
    
    .timeline > li .timeline-image h4 {
        font-size: 22px;
        line-height: 18px;
        margin-top: 35px;
    }
}


@media (min-width: 1200px){
    .timeline > li .timeline-image {
        width: 130px;
        height: 130px;
        margin-left: -66px;
    }
    
    .timeline > li .timeline-image h4 {
        font-size: 1.5rem !important;
        line-height: 26px;
        margin-top: 48px;
    }
}

.py-5 a {
    /*float: left;*/
    /*width: 100px;*/
    margin:0 4px;
}





@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    
    header.masthead .intro-text .intro-lead-in {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 26px;
    }
    
    
    header.masthead .intro-text .intro-heading {
        font-size: 44px;
        font-weight: 600;
        line-height: 56px;
        margin-bottom: 22px;
    
    }
    
    .masthead .innovation-badge {
        position: absolute;
        top: 2em;
        right: 15em;
        width: 9em;
        transform: rotate(-9deg);
        z-index: 999;
    }
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 192px;
    }
    
    header.masthead .intro-text .intro-lead-in {
        font-size: 34px;
        line-height: 50px;
        margin-bottom: 24px;
    }
    
    
    header.masthead .intro-text .intro-heading {
        font-size: 50px;
        font-weight: 600;
        line-height: 64px;
        margin-bottom: 36px;
    
    }
    
    .masthead .innovation-badge {
        position: absolute;
        top: 60em;
        right: 1em;
        width: 14em;
        transform: rotate(-16deg);
        z-index: 999;
    }
    
    
    .card-columns {
        column-count: 3;
    }
  
     #mainNav .img-logo {
        max-height: 118px;
        margin: -12px;
    }
    
    

}

@media (min-width: 992px) {
    
    header.masthead .intro-text {
        padding-top: 248px;
    }
    
    header.masthead .intro-text .intro-lead-in {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 32px;
       
    }
    
    header.masthead .intro-text .intro-heading {
        font-size: 60px;
        line-height: 84px;
        margin-bottom: 60px;
    
    }
    
    
    .masthead .innovation-badge {
        position: absolute;
        top: 64em;
        right: 1em;
        width: 16em;
        transform: rotate(-16deg);
        z-index: 999;
    }
    
    .card-columns {
        column-count: 4;
    }
    
        
    
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 110%;
    }
}

@media (min-width: 1200px) {
    
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 48px;
        margin-top: 34px;
    }
    
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        line-height: 106px;
        margin-bottom: 94px;
    
    }
    
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 125%;
    }
    
    .masthead .innovation-badge {
        position: absolute;
        top: 72em;
        right: 1em;
        width: 17em;
        transform: rotate(-16deg);
        z-index: 999;
    }
    
    
    .card-columns {
        column-count: 5;
    }
}

