#mainNav .img-logo {
    max-height: 120px;
    margin: 16px;
}

#contact .container {
    background: rgb(255,255,255,0.4);
    padding: 3em;
} 

body {
    color: #555;
}

#about table td {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 1.2em 0 0 0;
}

.top-nav-space {
    top: 178px; 
    position: relative;
    
}