
body {
    color: #555;
}

#mainNav .img-logo {
    max-height: 120px;
    margin: 16px;
}

.top-nav-space {
    top: 178px; 
    position: relative;
    
}

#ziele {
    padding-top: 3em;
}

#ziele p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#about table td {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 1.2em 0 0 0;
}

#about tr td:first-child {
    text-align: right !important;
}
#about tr td:first-child p {
    margin: 0 2em !important;
}


#member li {
    line-height: 1.75;
    margin: 0 0 0.8em 0;
}

#downloads a h4{
    color: #555;
}
#downloads a{
    yytext-decoration:none;
}


#contact .bgcontact {
    background: white;
    
    
}

#contact .container {
    background: rgb(255,255,255,0.4);
    padding: 3em;
} 

@media (min-width: 1200px){
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 1em 100px 20px 20px!important;
    }
}
@media (min-width: 1200px){
    .timeline > li .timeline-panel {
        padding: 1em 20px 20px 100px!important;
    }
    
}