 <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Über KEP&Mail</h2>
          <h3 class="section-subheading text-muted">Geschichte KEP&Mail</h3>
        </div>
      </div>
      <div class="row ">
        <div class="container">
          <div class="modal-body">
            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black"><span style="font-size:20.0pt">&Uuml;ber uns</span></span>
              </span>
              </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black"><strong><span style="font-size:10.0pt">Portrait</span></strong>
              </span>
              </span>
              </span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black"><strong>Fakten und Zahlen zu den in KEP&amp;Mail organisierten Unternehmen</strong></span></span>
              </span>
            </p>

            <table class="Table" style="border:undefined; width:100.0%">
              <tbody>
                <tr>
                  <td style="background-color:white; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Niederlassungen </span></span>
                      </span>
                    </p>
                  </td>
                  <td style="background-color:white">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">In allen Teilen der Schweiz, d.h. in der Deutschschweiz, der Romandie und im Tessin.</span></span>
                      </span>
                    </p>

                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Die Dienstleister verteilen ihre Sendungen insgesamt in 50 Depots&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
                      </span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="background-color:#fcfcfc; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Umsatz</span></span>
                      </span>
                    </p>
                  </td>
                  <td style="background-color:#fcfcfc">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">&gt;1000 Mio. CHF</span></span>
                      </span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="background-color:white; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Bef&ouml;rderte Pakete (Standard/Express)</span></span>
                      </span>
                    </p>
                  </td>
                  <td style="background-color:white">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">50&nbsp;Mio. pro Jahr</span></span>
                      </span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="background-color:white; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Bef&ouml;rderte Briefe </span></span>
                      </span>
                    </p>
                  </td>
                  <td style="background-color:white">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">60 Mio. pro Jahr</span></span>
                      </span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="background-color:white; width:100.0pt">&nbsp;</td>
                  <td style="background-color:white">&nbsp;</td>
                </tr>
                <tr>
                  <td style="background-color:#fcfcfc; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Aktivit&auml;t in Teilm&auml;rkten</span></span>
                      </span>
                    </p>

                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">&nbsp;</span></span>
                      </span>
                    </p>
                  </td>
                  <td style="background-color:#fcfcfc">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Kurier national und international<br />
			Folgetags-Express national und international<br />
			Gleichtags-Express national<br />
			Innight-Express national und international<br />
			Economy-Pakete national und international<br />
			Priority-Pakete national und international<br />
			Paketretouren<br />
			Briefe national und international<br />
			Unadressierte Sendungen<br />
			Briefproduktion in Druckzentren</span></span>
                      </span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="background-color:white; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Personal (eigene und Subunternehmer)</span></span>
                      </span>
                    </p>
                  </td>
                  <td style="background-color:white">
                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">6000 Mitarbeiter und Mitarbeiterinnen </span></span>
                      </span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="background-color:#fcfcfc; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>
                  </td>
                  <td style="background-color:#fcfcfc">
                    <p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>
                  </td>
                </tr>
                <tr>
                  <td style="background-color:white; width:100.0pt">
                    <p style="margin-left:0cm; margin-right:0cm"><br />
                      <span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Arbeitsbedingungen</span></span>
                      </span>
                    </p>

                    <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">&nbsp;</span></span>
                      </span>
                    </p>
                  </td>
                  <td style="background-color:white">
                    <p style="margin-left:0cm; margin-right:0cm"><br />
                      <span style="font-size:10pt"><span style="font-family:Tahoma,sans-serif"><span style="color:black">Gesamtarbeitsvertrag seit Juli 2016 (<span style="background-color:yellow">Link einf&uuml;gen</span>)</span>
                      </span>
                      </span>
                    </p>

                    <p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2017</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Initialisierung von verschiedenen parlamentarischen Vorstössen zur Behebung von Mängeln in der Postgesetzgebung. Diese wurden nach Zustimmung im Nationalrat im Ständerat abgelehnt, womit sie nicht weiterverfolgt werden.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2016</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Abschluss des GAV und Inkraftsetzung in den Mitgliederunternehmungen.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2012/2013</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Aufnahme der Verhandlungen mit den Gewerkschaften für einen GAV KEP&Mai als Branchenleader. </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2012</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Inkraftsetzung des neuen Postgesetzes und der Postverordnung die für private Dienstleister nur wenige Verbesserungen ergeben wie z.B. beim Postfachzugang, wobei hier jedoch ein viel zu hoher Zugangspreis festgesetzt ist. Damit ist mittelfristig
                    keine weitere Liberalisierung zu erwarten. <br>Zusammen mit dem Postgesetz werden die privaten Postdienstleister beim Nacht- und Sonntagsfahrverbot endlich der Post gleichgestellt. KEP&Mail hat daran seit seiner Gründung gearbeitet.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2010</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Begleitung und Einflussnahme bei der Postgesetzesrevision durch Lobbying über Verbände, Behörden und direkt im Parlament.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2009</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Der Bundesrat senkt das Monopol auf 50g, auch dank Einwirken von KEP&Mail und seinen Partnerverbänden.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2007</h4>
                  <h4 class="subheading">Weichen für eine neue Postgesetzgebung</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Mitarbeit von KEP&Mail in einer Arbeitsgruppe des UVEK zur Weiterentwicklung des Postmarktes auf der Basis von aktuellen Studien von BDO/WIK und Plaut/Frontier. Diese belegen, dass der Universaldienst von der Post über absehbare Zeit
                    finanzierbar ist.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2006</h4>
                  <h4 class="subheading">Das Monopol wird auf 100g gesenkt.</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">KEP&Mail entwickelt mit einem privaten Dienstleister eine Basisausbildung für die Zustellung mit Attest, die in den Mitgliederfirmen in den kommenden Jahren durchgeführt wird.
                    <br>KEP&Mail gibt sich ein Gesicht und gibt den ersten Newsletter PosiTion heraus.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2005</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">KEP&Mail handelt mit der Post einen Rahmenvertrag aus, der den Teilleistungszugang für Pakete ermöglicht.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2004</h4>
                  <h4 class="subheading">KEP&Mail erarbeitet mit dem Versicherungsverband einen gemeinsamen Haftungskodex. </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted"></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2003</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Der Bundesrat setzt trotz Intervention von KEP&Mail und seinen Partnerverbänden eine halbherzige Verordnung in Kraft, die faktisch keine Änderung gegenüber früher ergibt.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2002</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Gründung am 3. September 2002 in Bern. Gründungsmitglieder: DHL (Frank Zanger), DPD (Dr. Jean-Noël Rey), Euroexpress (Dr. Martin Müller-Duysing), simpuls (Peter Sutterlüti).<br>Das Parlament unterstützt die vom Bundesrat und von KEP&Mail
                    gutgeheissene mittlere Liberalisierungsvariante.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4><br>Gründung</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>