 <section id="about">
    <div class="container">
      
      <div class="row mb-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Über KEP+Mail</h2>
        </div>
      </div>
      
      <div class="row mb-5">
        <div class="col-12">
          <div class="text-center">
            <h4>Vorstand</h4>
          </div>
          <table class="table table-borderless table-hover  ">
            <tr>
              <td>
               <p>
               Präsident/Geschäftsstelle
               </p>
              </td>
              <td>
                <p>
                  
                Peter Sutterlüti, Managing Partner simpuls ag
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                Vorstandsmitglieder
                </p>
              </td>
              <td>
                <p>
                Georg Burch, Operations Director DPD (Schweiz) AG<br>
                Bernard Germanier, Geschäftsführer Quickmail AG<br>
                Michael Jutzi, Mitglied der Geschäftsleitung DHL Express (Schweiz) AG<br>
                Marcel Tüscher, Geschäftsführer GO! Express & Logistics (Schweiz) AG
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="row mb-5">
        <div class="col-12">
          <div class="text-center">
            <h4>Portrait</h4>
            <p><strong>Fakten und Zahlen zu den in KEP+Mail organisierten Unternehmen</strong></p>
         </div>
          <table class="table table-borderless table-hover ">
            <tbody>
                <tr>
                  <td>
                    <p>Niederlassungen</p>
                  </td>
                  <td>
                    <p>In allen Teilen der Schweiz, d.h. in der Deutschschweiz, der Romandie und im Tessin.<br>
                    Die Dienstleister verteilen ihre Sendungen insgesamt in 50 Depots</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Umsatz</p>
                  </td>
                  <td>
                    <p>&gt;1000 Mio. CHF</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Bef&ouml;rderte Pakete (Standard/Express)</p>
                  </td>
                  <td>
                    <p>50&nbsp;Mio. pro Jahr</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Bef&ouml;rderte Briefe</p>
                  </td>
                  <td>
                    <p>60 Mio. pro Jahr</p>
                  </td>
                </tr>
      
                <tr>
                  <td>
                    <p>Aktivit&auml;t in Teilm&auml;rkten</p>
                  </td>
                  <td>
                    <p>Kurier national und international<br />
			Folgetags-Express national und international<br />
			Gleichtags-Express national<br />
			Innight-Express national und international<br />
			Economy-Pakete national und international<br />
			Priority-Pakete national und international<br />
			Paketretouren<br />
			Briefe national und international<br />
			Unadressierte Sendungen<br />
			Briefproduktion in Druckzentren
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Personal (eigene und Subunternehmer)
                    </p>
                  </td>
                  <td>
                    <p>6000 Mitarbeiter und Mitarbeiterinnen 
                    </p>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <p>Arbeitsbedingungen
                    </p>
                  </td>
                  <td>
                    <p>
                      Gesamtarbeitsvertrag seit Juli 2016 (<span style="background-color:yellow">Link einf&uuml;gen</span>)
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            
        </div>
      </div>
    </div>
    
    <div class="container">
          <div class="row mb-5">
              <div class="col-12 text-center">
                    <h3>Geschichte KEP+Mail</h3>
              </div>
          </div>
          
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2017</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable ">
                    <p class="text-muted ">Initialisierung von verschiedenen parlamentarischen Vorstössen zur Behebung von Mängeln in der Postgesetzgebung. Diese wurden nach Zustimmung im Nationalrat im Ständerat abgelehnt, womit sie nicht weiterverfolgt werden.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2016</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable ">
                    <p class="text-muted ">Abschluss des GAV und Inkraftsetzung in den Mitgliederunternehmungen.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2012/2013</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable ">
                    <p class="text-muted ">Aufnahme der Verhandlungen mit den Gewerkschaften für einen GAV KEP&Mai als Branchenleader. </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2012</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable ">
                    <p class="text-muted ">Inkraftsetzung des neuen Postgesetzes und der Postverordnung die für private Dienstleister nur wenige Verbesserungen ergeben wie z.B. beim Postfachzugang, wobei hier jedoch ein viel zu hoher Zugangspreis festgesetzt ist. Damit ist mittelfristig
                      keine weitere Liberalisierung zu erwarten. <br>Zusammen mit dem Postgesetz werden die privaten Postdienstleister beim Nacht- und Sonntagsfahrverbot endlich der Post gleichgestellt. KEP+Mail hat daran seit seiner Gründung gearbeitet.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2010</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable">
                    <p class="text-muted expandable">Begleitung und Einflussnahme bei der Postgesetzesrevision durch Lobbying über Verbände, Behörden und direkt im Parlament.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable">
                    <p class="text-muted">Der Bundesrat senkt das Monopol auf 50g, auch dank Einwirken von KEP+Mail und seinen Partnerverbänden.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2007</h4>
                    <h4 class="subheading">Weichen für eine neue Postgesetzgebung</h4>
                  </div>
                  <div class="timeline-body expandable">
                    <p class="text-muted">Mitarbeit von KEP+Mail in einer Arbeitsgruppe des UVEK zur Weiterentwicklung des Postmarktes auf der Basis von aktuellen Studien von BDO/WIK und Plaut/Frontier. Diese belegen, dass der Universaldienst von der Post über absehbare Zeit
                      finanzierbar ist.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2006</h4>
                    <h4 class="subheading">Das Monopol wird auf 100g gesenkt.</h4>
                  </div>
                  <div class="timeline-body expandable">
                    <p class="text-muted">KEP+Mail entwickelt mit einem privaten Dienstleister eine Basisausbildung für die Zustellung mit Attest, die in den Mitgliederfirmen in den kommenden Jahren durchgeführt wird.
                      <br>KEP+Mail gibt sich ein Gesicht und gibt den ersten Newsletter PosiTion heraus.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2005</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable">
                    <p class="text-muted">KEP+Mail handelt mit der Post einen Rahmenvertrag aus, der den Teilleistungszugang für Pakete ermöglicht.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2004</h5>
                    <h4 class="subheading">KEP+Mail erarbeitet mit dem Versicherungsverband einen gemeinsamen Haftungskodex. </h4>
                  </div>
                  <div class="timeline-body expandable">
                    <p class="text-muted"></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2003</h4>
                    <h4 class="subheading"></h4>
                  </div>
                  <div class="timeline-body expandable">
                    <p class="text-muted">Der Bundesrat setzt trotz Intervention von KEP+Mail und seinen Partnerverbänden eine halbherzige Verordnung in Kraft, die faktisch keine Änderung gegenüber früher ergibt.</p>
                  </div>
                </div>
              </li>
              <!--<li class="timeline-inverted">-->
              <!--  <div class="timeline-image">-->
              <!--    <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">-->
              <!--  </div>-->
              <!--  <div class="timeline-panel">-->
              <!--    <div class="timeline-heading">-->
              <!--      <h4>2002</h4>-->
              <!--      <h4 class="subheading"></h4>-->
              <!--    </div>-->
              <!--    <div class="timeline-body expandable">-->
              <!--      <p class="text-muted">Gründung am 3. September 2002 in Bern. Gründungsmitglieder: DHL (Frank Zanger), DPD (Dr. Jean-Noël Rey), Euroexpress (Dr. Martin Müller-Duysing), simpuls (Peter Sutterlüti).<br>Das Parlament unterstützt die vom Bundesrat und von KEP+Mail-->
              <!--        gutgeheissene mittlere Liberalisierungsvariante.</p>-->
              <!--    </div>-->
              <!--  </div>-->
              <!--</li>-->
              <li>
                <div class="timeline-image">
                  <h4><br>Gründung <br>2002</h4>
                </div>
              </li>
            </ul>
        </div>
          
          <div class="container col-8  text-center  justify-content-center  ">
            <div class="row">
              <div class="timeline-heading">
                <h5 class="subheading"></h5>
              </div>
              <div class="timeline-body col align-self-center ">
                <p>Gründung am 3. September 2002 in Bern. Gründungsmitglieder: DHL (Frank Zanger), DPD (Dr. Jean-Noël Rey), Euroexpress (Dr. Martin Müller-Duysing), simpuls (Peter Sutterlüti).<br>Das Parlament unterstützt die vom Bundesrat und von KEP+Mail
                  gutgeheissene mittlere Liberalisierungsvariante.</p>
              </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    

  </section>