<section id="contact">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Kontakt</h2>
        <!-- h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3 -->
      </div>
      <div class="col-lg-12 text-muted text-dark ">
        <!--<ul class="list-unstyled p-3 bgcontact form-control">-->
        <!--  <li>KEP+Mail</li>-->
        <!--  <li>c/o simpuls ag</li>-->
        <!--  <li>Thunstrasse 17</li>-->
        <!--  <li>Postfach 343</li>-->
        <!--  <li>CH-3000 Bern 6</li>-->
        <!--  <li>T: +41 (0)31 357 38 57</li>-->
        <!--  <li>F: +41 (0)31 357 38 58</li>-->
        <!--  <li>E: position@kepmail.ch</li>-->
        <!--</ul>-->

        <ul class="list-unstyled p-3 bgcontact form-control">
          <li>KEP+Mail, Peter Sutterlüti, Präsident</li>
          <li>c/o simpuls ag, Thunstrasse 17, Postfach 343, 3000 Bern 6</li>
          <li>Tel. +41 31 357 38 57, Fax +41 31 357 38 58</li>
          <li>E: position@kepmail.ch</li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" method="POST" novalidate="novalidate" data-netlify="true">
          <div class="row">
            
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="Ihr Name *" required="required" data-validation-required-message="Bitte Name ausfüllen.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" type="email" placeholder="Ihre Email *" required="required" data-validation-required-message="Bitte EMail ausfüllen.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" type="tel" placeholder="Ihr Telefon *" required="required" data-validation-required-message="Bitte Telefon ausfüllen.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" placeholder="Ihre Nachricht *" required="required" data-validation-required-message="Bitte Nachricht ausfüllen."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Senden</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
    
  </div>
</section>