<section class="bg-light" id="member">
  <div class="container col-md-8 col-12">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Mitglied werden</h2>
        <h3 class="section-subheading text-muted">Wer kann Mitglied werden?</h3>
      </div>
    </div>
    
    <div class="row ">
      <div class="container">
        <div class="modal-body">
          <h3>Auszug aus den Statuten:</h3>
          <p><em>Die Mitgliedschaft bei KEP&amp;Mail steht offen: </em></p>
          <ul>
            <li><em>Juristischen oder nat&uuml;rlichen Personen, die ein Unternehmen der KEP- und Mail-Branche betreiben und an einer &Ouml;ffnung der Postm&auml;rkte interessiert sind, sofern sie Gew&auml;hr f&uuml;r die Einhaltung der Vereinsziele bieten, sich eindeutig zum fairen Wettbewerb bekennen und ihr Verhalten in der Praxis danach ausrichten</em>
            <br>
              <em>Als Unternehmen der KEP- und Mailbranche gelten unter anderem Paketdienstleister, Expressdienste, Kurierdienste sowie Brief- oder Drucksachenverteilorganisationen.</em></li>
            <li><em>Anderen im Postmarkt agierenden Unternehmen oder Institutionen (z.B. Kunden, Ausbildungsinstitute und &auml;hnliche Organisationen), die ein Interesse an der Erreichung der Vereinsziele bekunden</em></li>
            <li><em>Nat&uuml;rlichen Personen, die an einer fairen &Ouml;ffnung der Postm&auml;rkte interessiert sind und sich zu den Vereinszielen bekennen.</em></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="container">
        <div class="modal-body getmember">
          <h3 style="margin-left:0cm; margin-right:0cm">Warum soll ich Mitglied werden?</h3>
          <p style="margin-left:0cm; margin-right:0cm"><strong>Zehn Argumente f&uuml;r&nbsp;einen Beitritt zu KEP+Mail</strong></p>
          <ol>
            <li>
              <span>Durch die Vielzahl von Mitgliedern ist KEP+Mail bei Beh&ouml;rden und Politik f&uuml;r seine Meinung gefragt. Die privaten Postdienstleister werden in der &Ouml;ffentlichkeit als gewichtiger Teil des Postmarktes wahrgenommen.</span>
            </li>
            <li>
              <span>In postgesetzlichen Erlassen m&uuml;ssen Regeln verankert werden, die den Wettbewerb im Postmarkt beg&uuml;nstigen. Gleich lange Spiesse sind eine Voraussetzung dazu. KEP+Mail arbeitet bei L&ouml;sungen mit und bringt die Bed&uuml;rfnisse der privaten Dienstleister ein.</span>
            </li>
            <li>
              <span>KEP+Mail setzt sich auch bei der Beratung von Gesetzen und anderen Regulierungen, die indirekt den KEP+Mail-Markt betreffen, f&uuml;r eine Gleichbehandlung aller Betroffenen ein, so z.B. beim Zollgesetz.</span>
            </li>
            <li>
              <span>KEP+Mail sorgt f&uuml;r einen fairen Wettbewerb, indem Missverhalten der Post aufgedeckt und an die PostCom, die Wettbewerbskommission und andere Instanzen angezeigt wird, ohne dass sich Mitglieder direkt exponieren m&uuml;ssen.</span>
            </li>
            <li>
              <span>Der Verband hat gute Kontakte zu den Medien und kann Anliegen &uuml;ber die Medien an die &Ouml;ffentlichkeit bringen, ohne dass ein einzelnes Unternehmen im Rampenlicht steht. </span>
            </li>
            <li>
              <span>Durch die Akzeptanz und Publizit&auml;t des Verbandes wird indirekt auch das Image seiner Mitglieder in der &Ouml;ffentlichkeit gest&auml;rkt.</span>
            </li>
            <li>
              <span>Der Verband ist ein akzeptierter Verhandlungspartner gegen&uuml;ber Institutionen. Einzelne Unternehmen k&ouml;nnen niemals so starken Einfluss nehmen wie der Verband. Durch die Mitgliedschaft bei economiesuisse und dem schweizerischen Gewerbeverband wird dieser Effekt nochmals wesentlich verst&auml;rkt.</span>
            </li>
            <li>
              <span>KEP+Mail hat die Arbeitsbedingungen im Einvernehmen mit den Gewerkschaften in einem GAV geregelt, womit jedes unterstellte Mitglied automatisch die arbeitsrechtlichen Bedingungen der PostCom bzw. des Postgesetzes erf&uuml;llt.</span>
            </li>
            <li>
              <span>Gemeinsame Grundlagen zu spezifischen Themen werden zu Gunsten aller Mitglieder geschaffen (Beispiele: Ausbildung, Haftung).</span>
            </li>
            <li>
              <span>KEP+Mail pusht die weitere Liberalisierung und sorgt dass seine Mitglieder Regeln f&uuml;r den einfachen und marktgerechten Zugang zu Dienstleistungen und Infrastrukturen der Post erh&auml;lt.</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    
    <!--<div class="row text-center intro-text portfolio-item">-->
    <!--  <a class="portfolio-link btn btn-primary btn-xl text-uppercase col-centered" href="#zielemodal" style="margin: 0 auto;" data-toggle="modal">erfahren Sie mehr</a>-->
    <!--</div>-->

  </div>
</section>
