<!-- Ziele -->
<div class="portfolio-modal modal fade" id="zielemodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8  mx-auto">
            <div class="modal-body">
              <h2>Ziele</h2>
              <p class="item-intro text-muted">Das Ziel von KEP+Mail, für alle am Markt beteiligten Unternehmen gleiche Marktbedingungen zu schaffen, ist noch nicht erreicht und wird konsequent weiterverfolgt.</p>
              <p>Im Fokus der Branche stehen stets die Kunden mit ihren Bedürfnissen. Als unabhängige, wirtschaftlich orientierte Unternehmen sind unsere Mitglieder bestrebt, beste Dienstleistungen anzubieten. Dass dies durchaus gelingt beweist die Tatsache,
                dass die Branche trotz regulatorischen Hindernissen über 1 Milliarde Umsatz erzielt.</p>
                
              <ul class="list-inline">
                <li>
                  <p>Die privaten Postdienstleister garantieren flächendeckende Abholungen und Lieferungen, betreiben Paketstationen und verarbeiten Nachnahmen. Direktfahrten, same day deliverys, internationaler Versand, Lagerung und Verzollung oder fest
                    definierte Branchenlösungen sind weitere Dienstleistungen. Um im heutigen Marktumfeld bestehen zu können sind Innovation, Kundennähe und Umsetzungsstärke zwingende Basispfeiler der Privaten.</p>
                </li>

                <li>
                  <p>Tag und Nacht flächendeckend zu arbeiten ist das Versprechen unserer Mitgliedsfirmen. Ob Stein am Rhein, Samnaun, Saas Fee, La Rippe oder Brione – Ausnahmen gibt es nicht. Mit ihren Produkten ergänzen und vervollständigen sie den bestehenden
                    Service public und tragen ihren Teil zur Grundversorgung der Schweizer Bevölkerung und der Unternehmen bei.</p>
                </li>
                <li>
                  <p>KEP+Mail engagiert sich weiterhin für die komplette Marktöffnung, für die gemeinsame Nutzung von Postfächern und Briefkastenanlagen und leistet so einen wichtigen Beitrag für ökonomisch und ökologisch optimale Bedingungen und Leistungen.</p>
                </li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Ziele schliessen <!-- i class="fa fa-times"></i --></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body text-left">
              <h2>Bundesrat will Wettbewerbshindernisse abbauen</h2>
              <p>Bericht des Bundesrates &uuml;ber die Evaluation des Postgesetzes vom 11. Januar 2017</p>
              <p class="item-intro text-muted"><strong>Der Bundesrat sieht Handlungsbedarf zur F&ouml;rderung des Wettbewerbs im Postmarkt und will die dringendsten Hemmnisse im Postgesetz beheben. Damit werden seit Jahren ge&auml;usserte Anliegen von KEP&amp;Mail erf&uuml;llt, die sofort in der Postverordnung ge&auml;ndert werden k&ouml;nnen. Dagegen wird die Monopolh&uuml;rde von 50 Gramm nicht gelockert, obwohl der Evaluationsbericht der Grundversorgung gute Noten erteilt und nur eine begrenzte Dynamik im Briefmarkt feststellt.</strong></p>
              <p>Der Evaluationsbericht zum Postgesetz beleuchtet alle wesentlichen Aspekte. Der Bundesrat attestiert einen funktionierenden Wettbewerb im Paketmarkt, w&auml;hrend er im Briefmarkt nur eine geringe Entwicklung von Alternativen zur Post sieht.
                KEP&amp;Mail begr&uuml;sst, dass der Bundesrat anerkennt, dass die heutige Postgesetzgebung in verschiedenen Bereichen das Ziel der Wettbewerbsf&ouml;rderung verfehlt und Massnahmen zur Behebung von Hindernissen einleiten will. Alles h&auml;ngt
                jedoch davon ab, wie die entsprechenden Bestimmungen im Detail ausgestaltet werden. Der Verband KEP&amp;Mail erwartet, dass er dabei mitwirken kann.</p>
              <p>Alle Bereiche, bei denen der Bundesrat Handlungsbedarf sieht, k&ouml;nnen aus Sicht KEP&amp;Mail in der Postverordnung geregelt werden, ohne dass das Postgesetz ge&auml;ndert werden muss. Damit k&ouml;nnen diese &Auml;nderungen sehr rasch
                vollzogen und die Wirkung im Markt rasch erreicht werden. Es w&auml;re unsinnig, wenn daf&uuml;r zuerst eine Gesetzesrevision abgewartet werden m&uuml;sste.</p>
              <p>Obwohl mit den vorgeschlagenen Massnahmen die dringendsten Probleme gel&ouml;st werden, sind f&uuml;r die Entfaltung des Wettbewerbs weitere Schritte notwendig:</p>
              <ul>
                <li>Einf&uuml;hrung einer Zugangsregelung f&uuml;r die Aufgabe von Sendungen alternativer Postdienstleister in den Poststellen und die Aufhebung diskriminierender Bestimmungen bei Postagenturen.</li>
                <li>Ausdehnung des Teilleistungszugangs auf den Transport, die Zustellung und Sortierung.</li>
                <li>Verhinderung der Entstehung neuer Monopole bei digitalisierten Infrastrukturen wie Paketanlagen und Hausbriefkasten.</li>
                <li>Lockerung des Briefmonopols mit Absenkung in einem n&auml;chsten Schritt auf 25 Gramm.</li>
              </ul>
              <p>Der Verband KEP&amp;Mail sieht in den durch den Bundesrat vorgeschlagenen Massnahmen einen Schritt in die richtige Richtung zur Wettbewerbsf&ouml;rderung. Er wertet dies als Zeichen daf&uuml;r, dass die Probleme erkannt sind und erwartet
                weitere grundlegendere &Ouml;ffnungsschritte im Postmarkt.</p>
              <p>12.01.17</p>
              <p>F&uuml;r weitere Ausk&uuml;nfte:</p>
              <p>KEP&amp;Mail, Peter Sutterl&uuml;ti, Pr&auml;sident<br /> c/o simpuls ag, Thunstrasse 17, Postfach 343, 3000 Bern 6<br /> Tel. +41 31 357 38 57, Fax +41 31 357 38 58<br />
                <a href="mailto:position@kepmail.ch">position@kepmail.ch</a><br />
                <a href="http://www.kepmail.ch/">www.kepmail.ch</a>
              </p>
              <div class="text-center">
              <button type="button" class="btn btn-primary " data-dismiss="modal"><!-- i class="fa fa-times"></i -->Beitrag schliessen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Explore</li>
                <li>Category: Graphic Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <!-- i class="fa fa-times"></i -->
                    Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Finish</li>
                <li>Category: Identity</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Lines</li>
                <li>Category: Branding</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Southwest</li>
                <li>Category: Website Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Window</li>
                <li>Category: Photography</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
