<!-- Ziele -->
<div class="portfolio-modal modal fade" id="zielemodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8  mx-auto">
            <div class="modal-body text-left">
              <h2>Ziele</h2>
              <p class="item-intro text-muted"><strong>Das Ziel von KEP+Mail, für alle am Markt beteiligten Unternehmen gleiche Marktbedingungen zu schaffen, ist noch nicht erreicht und wird konsequent weiterverfolgt.</strong></p>
              <p>Im Fokus der Branche stehen stets die Kunden mit ihren Bedürfnissen. Als unabhängige, wirtschaftlich orientierte Unternehmen sind unsere Mitglieder bestrebt, beste Dienstleistungen anzubieten. Dass dies durchaus gelingt beweist die Tatsache,
                dass die Branche trotz regulatorischen Hindernissen über 1 Milliarde Umsatz erzielt.</p>
                
              <ul class="list-inline">
                <li>
                  <p>Die privaten Postdienstleister garantieren flächendeckende Abholungen und Lieferungen, betreiben Paketstationen und verarbeiten Nachnahmen. Direktfahrten, same day deliverys, internationaler Versand, Lagerung und Verzollung oder fest
                    definierte Branchenlösungen sind weitere Dienstleistungen. Um im heutigen Marktumfeld bestehen zu können sind Innovation, Kundennähe und Umsetzungsstärke zwingende Basispfeiler der Privaten.</p>
                </li>

                <li>
                  <p>Tag und Nacht flächendeckend zu arbeiten ist das Versprechen unserer Mitgliedsfirmen. Ob Stein am Rhein, Samnaun, Saas Fee, La Rippe oder Brione – Ausnahmen gibt es nicht. Mit ihren Produkten ergänzen und vervollständigen sie den bestehenden
                    Service public und tragen ihren Teil zur Grundversorgung der Schweizer Bevölkerung und der Unternehmen bei.</p>
                </li>
                <li>
                  <p>KEP+Mail engagiert sich weiterhin für die komplette Marktöffnung, für die gemeinsame Nutzung von Postfächern und Briefkastenanlagen und leistet so einen wichtigen Beitrag für ökonomisch und ökologisch optimale Bedingungen und Leistungen.</p>
                </li>
              </ul>
              <div class="text-center">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Ziele schliessen <!-- i class="fa fa-times"></i --></button>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- News -->
<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body text-left">
              <h2>Bundesrat will Wettbewerbshindernisse abbauen</h2>
              <p>Bericht des Bundesrates &uuml;ber die Evaluation des Postgesetzes vom 11. Januar 2017</p>
              <p class="item-intro text-muted"><strong>Der Bundesrat sieht Handlungsbedarf zur F&ouml;rderung des Wettbewerbs im Postmarkt und will die dringendsten Hemmnisse im Postgesetz beheben. Damit werden seit Jahren ge&auml;usserte Anliegen von KEP&amp;Mail erf&uuml;llt, die sofort in der Postverordnung ge&auml;ndert werden k&ouml;nnen. Dagegen wird die Monopolh&uuml;rde von 50 Gramm nicht gelockert, obwohl der Evaluationsbericht der Grundversorgung gute Noten erteilt und nur eine begrenzte Dynamik im Briefmarkt feststellt.</strong></p>
              <p>Der Evaluationsbericht zum Postgesetz beleuchtet alle wesentlichen Aspekte. Der Bundesrat attestiert einen funktionierenden Wettbewerb im Paketmarkt, w&auml;hrend er im Briefmarkt nur eine geringe Entwicklung von Alternativen zur Post sieht.
                KEP&amp;Mail begr&uuml;sst, dass der Bundesrat anerkennt, dass die heutige Postgesetzgebung in verschiedenen Bereichen das Ziel der Wettbewerbsf&ouml;rderung verfehlt und Massnahmen zur Behebung von Hindernissen einleiten will. Alles h&auml;ngt
                jedoch davon ab, wie die entsprechenden Bestimmungen im Detail ausgestaltet werden. Der Verband KEP&amp;Mail erwartet, dass er dabei mitwirken kann.</p>
              <p>Alle Bereiche, bei denen der Bundesrat Handlungsbedarf sieht, k&ouml;nnen aus Sicht KEP&amp;Mail in der Postverordnung geregelt werden, ohne dass das Postgesetz ge&auml;ndert werden muss. Damit k&ouml;nnen diese &Auml;nderungen sehr rasch
                vollzogen und die Wirkung im Markt rasch erreicht werden. Es w&auml;re unsinnig, wenn daf&uuml;r zuerst eine Gesetzesrevision abgewartet werden m&uuml;sste.</p>
              <p>Obwohl mit den vorgeschlagenen Massnahmen die dringendsten Probleme gel&ouml;st werden, sind f&uuml;r die Entfaltung des Wettbewerbs weitere Schritte notwendig:</p>
              <ul>
                <li>Einf&uuml;hrung einer Zugangsregelung f&uuml;r die Aufgabe von Sendungen alternativer Postdienstleister in den Poststellen und die Aufhebung diskriminierender Bestimmungen bei Postagenturen.</li>
                <li>Ausdehnung des Teilleistungszugangs auf den Transport, die Zustellung und Sortierung.</li>
                <li>Verhinderung der Entstehung neuer Monopole bei digitalisierten Infrastrukturen wie Paketanlagen und Hausbriefkasten.</li>
                <li>Lockerung des Briefmonopols mit Absenkung in einem n&auml;chsten Schritt auf 25 Gramm.</li>
              </ul>
              <p>Der Verband KEP&amp;Mail sieht in den durch den Bundesrat vorgeschlagenen Massnahmen einen Schritt in die richtige Richtung zur Wettbewerbsf&ouml;rderung. Er wertet dies als Zeichen daf&uuml;r, dass die Probleme erkannt sind und erwartet
                weitere grundlegendere &Ouml;ffnungsschritte im Postmarkt.</p>
              <p>12.01.17</p>
              <p>F&uuml;r weitere Ausk&uuml;nfte:</p>
              <p>KEP&amp;Mail, Peter Sutterl&uuml;ti, Pr&auml;sident<br /> c/o simpuls ag, Thunstrasse 17, Postfach 343, 3000 Bern 6<br /> Tel. +41 31 357 38 57, Fax +41 31 357 38 58<br />
                <a href="mailto:position@kepmail.ch">position@kepmail.ch</a><br />
                <a href="http://www.kepmail.ch/">www.kepmail.ch</a>
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary " data-dismiss="modal"><!-- i class="fa fa-times"></i -->Beitrag schliessen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
             <div class="modal-body text-left">
              <h2>Postmarkt Schweiz<br>
              Wettbewerb muss sich weiter entfalten</h2>
              <p>Wichtiger Beitrag der privaten Postdienstleister durch innovative Angebote und Belebung des Wettbewerbs</p>
              <p class="item-intro text-muted"><strong>
Die postalische Versorgung in der Schweiz steht gemäss der Eidgenössischen Postkommission PostCom im internationalen Vergleich auf sehr hohem Niveau. Dazu tragen sowohl die Schweizerische Post als auch die privaten Postdienstleister mit ihren guten Leistungen bei. Allerdings hat sich die Wettbewerbsstruktur noch zu wenig geändert. Und der vom Gesetzgeber explizit gewünschte Wettbewerb funktioniert gemäss der Aufsichtsbehörde in einzelnen Bereichen noch zu wenig. KEP& Mail sieht sich mit dem PostCom-Bericht bestätigt, dass eine weitere Marktöffnung notwendig ist.</strong></p>
              <p>Präsident Peter Sutterlüti und der Vorstand des Verbandes KEP+Mail begrüssen deshalb sehr, dass der Postregulator hier durch Rechtsanpassungen Abhilfe schaffen will. Die Schweizerische Post hat insbesondere Wettbewerbsvorteile durch die Gewährung von Kuppelrabatten, den Zugang zu Teilleistungen und die Hoheit über die Postfachanlagen, wie der Postregulator schreibt. Diese Infrastruktur für Postfachanlagen stammt wesentlich aus der Zeit des Postmonopols und kann von den privaten Postdienstleistern nicht direkt zu adäquaten Konditionen mitbenutzt werden. Nach KEP+Mail verstossen die Regeln in der Postverordnung sogar gegen das Gesetz, weil sie den Postfachzugang mit einem prohibitiven Preisbildungsmechanismus faktisch verhindern. Über die Feststellungen der PostCom hinaus sieht KEP+Mail auch Handlungsbedarf beim Zugang zu Poststellen und Agenturen für die Platzierung von Angeboten privater Postdienstleister und als Abholstellen. Auch die Gewährung von 
Geschäftskunden-Konditionen bei der Übergabe von Sendungen der privaten Postdienstleister an die Post ist für die Entfaltung des Wettbewerbes entscheidend.</p>
              <p>Der Verband KEP+Mail ist zudem erfreut, dass die Postregulationsbehörde seine Überlegungen zur digitalen Zukunft teilt. Und gleichzeitig die allenfalls notwendigen strukturellen und gesetzlichen Anpassungen evaluiert für einen funktionierenden und fairen Wettbewerb im Interesse aller Marktteilnehmer und namentlich der Kunden.</p>
              <p>F&uuml;r weitere Ausk&uuml;nfte:</p>
              <p>KEP&amp;Mail, Peter Sutterl&uuml;ti, Pr&auml;sident<br /> c/o simpuls ag, Thunstrasse 17, Postfach 343, 3000 Bern 6<br /> Tel. +41 31 357 38 57, Fax +41 31 357 38 58<br />
                <a href="mailto:position@kepmail.ch">position@kepmail.ch</a><br />
                <a href="http://www.kepmail.ch/">www.kepmail.ch</a>
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary " data-dismiss="modal"><!-- i class="fa fa-times"></i -->Beitrag schliessen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body text-left">
              <h2>Gesamtarbeitsvertrag für die Angestellten der privaten Postdienstleister</h2>
              <p>Wichtiger Beitrag der privaten Postdienstleister durch innovative Angebote und Belebung des Wettbewerbs</p>
              <p class="item-intro text-muted"><strong>
Der Verband der privaten Postdienstleister der Schweiz (KEP+Mail) hat mit der Gewerkschaft syndicom und dem Personalverband transfair den ersten Gesamtarbeitsvertrag (GAV) für die private Post-Branche unterzeichnet. Der GAV tritt am 1. Juli 2016 in Kraft und gilt für rund 3000 Angestellte in der Schweiz.</strong></p>
              <p>Dem Verband KEP&amp;Mail sind die wichtigsten Unternehmen der Branche angeschlossen wie zum Beispiel Quickmail oder die Schweizer Ableger von internationalen Konzernen wie DHL, DPD, FedEx und TNT. Diese Unternehmen betreiben in allen Landesregionen der Schweiz &uuml;ber 500 Zugangspunkte, bef&ouml;rdern j&auml;hrlich 50 Millionen Pakete und 60 Millionen Briefe und besch&auml;ftigen gemeinsam ca. 3000 Angestellte, die vom neuen GAV profitieren werden.</p>
<p>Der Arbeitgeberverband KEP&amp;Mail f&uuml;hrte im Oktober 2012 die ersten Gespr&auml;che mit der Gewerkschaft syndicom und dem Personalverband transfair &uuml;ber einen GAV. Thomas Geiser, Professor f&uuml;r Privat- und Handelsrecht an der Universit&auml;t St. Gallen, moderierte und begleitete die Verhandlungen professionell. Letzte Woche haben die Sozialpartner den neuen GAV nun unterzeichnet.</p>
<p>Der GAV regelt die zentralen Bereiche wie Arbeitszeit, L&ouml;hne, Zulagen und weitere arbeitsvertragliche Bestimmungen, die im n&auml;chsten halben Jahr in die Einzelarbeitsvertr&auml;ge der Arbeitnehmenden aufgenommen werden. Die Sozialpartner sind sich zudem darin einig, dass die Arbeitsbedingungen in der gesamten Branche auf der Basis des neuen GAV reguliert werden sollen. Sie streben die Ausarbeitung eines allgemeinverbindlichen GAV an, der sowohl f&uuml;r die privaten Postdienstleister, wie auch f&uuml;r die Schweizerische Post und ihre T&ouml;chterfirmen G&uuml;ltigkeit hat.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Stimmen zum neuen GAV</strong><br />&laquo;Der GAV ist das gr&ouml;sste gemeinsame Projekt, das der Verband KEP&amp;Mail bisher realisiert hat. Wir sind stolz darauf, mit diesen guten&nbsp;Arbeitsbedingungen der Massstab f&uuml;r weitere Marktteilnehmer zu werden.&raquo;<br /><em>Peter Sutterl&uuml;ti, Pr&auml;sident KEP&amp;Mail</em></p>
<p>&laquo;Der Branchen-GAV ist ein erster grosser Schritt zur Regulierung der Arbeitsbedingungen in einer sehr heterogenen Branche. Er bildet f&uuml;r uns die partnerschaftliche Grundlage f&uuml;r die Wahrung der Interessen aller Besch&auml;ftigten und der ganzen Branche.&raquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><em>Daniel M&uuml;nger, Sektorleiter Logistik syndicom</em></p>
<p>&laquo;Vom Kreis seiner Mitbewerber abheben kann man sich nicht nur durch Kosten- und Leistungsmanagement, sondern auch durch einen GAV. Intensive, konsequent vorangetriebene Verhandlungen in gegenseitigem Vertrauen f&uuml;hren nun zum Abschluss dieses GAV. Effektiv ergibt sich daraus eine dreifache Win-Situation: F&uuml;r die Arbeitnehmenden, f&uuml;r die Arbeitgebenden und f&uuml;r die Gewerkschaften.&raquo;<br /><em>Ren&eacute; F&uuml;rst, Branchenleiter Post/Logistik transfair</em></p>
              <p>F&uuml;r weitere Ausk&uuml;nfte:</p>
              <p>KEP&amp;Mail, Peter Sutterl&uuml;ti, Pr&auml;sident<br /> c/o simpuls ag, Thunstrasse 17, Postfach 343, 3000 Bern 6<br /> Tel. +41 31 357 38 57, Fax +41 31 357 38 58<br />
                <a href="mailto:position@kepmail.ch">position@kepmail.ch</a><br />
                <a href="http://www.kepmail.ch/">www.kepmail.ch</a>
              </p>
              <div class="text-center">
                <button type="button" class="btn btn-primary " data-dismiss="modal"><!-- i class="fa fa-times"></i -->Beitrag schliessen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Downloads -->
<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="downloadModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body text-left">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Dossiers Postmarkt</h2>
              
              
              <ul class="list-inline">
                <li><a href="{{ "/upload/pdf/kepmailmarktvorurteileundtatsachen_v3_d_clean.pdf" | absURL }}">
                    <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    Ein starker Postmarkt - Modell für eine neue Postgesetzgebung 2015
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/dossierpost_v2.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Dossier Postmarkt - Ungleiche Spiesse im Wettbewerb (937KB)
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/economisuisse_postdossier_2010.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Postdossier economiesuisse_2010
                  </a>
                </li>
              </ul>
              <div class="text-center">
                <button type="button" class="btn btn-primary " data-dismiss="modal"><!-- i class="fa fa-times"></i -->Downloads schliessen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="downloadModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body text-left">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Dokumente Mitgliedschaft</h2>
               <ul class="list-inline">
                <li><a href="{{ "/upload/pdf/argumentebeitritt.pdf" | absURL }}">
                    <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    Argumente für einen Beitritt zu KEP+Mail
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/km_statuten_d_2017.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                 KEP+Mail Statuten
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/km_mitgliedschaften_2017_d.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  KEP+Mail Mitgliedschaften/Beiträge
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/km_beitrittserklrung_d.pdf" | absURL }}">
                    <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    KEP+Mail Beitrittserklärung
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/web_gav_dt.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  GAV KEP+Mail
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/haftungskodexkep-mailgltigeversion_051220.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Haftungskodex
                  </a>
                </li>
              </ul>
             <div class="text-center">
                <button type="button" class="btn btn-primary " data-dismiss="modal"><!-- i class="fa fa-times"></i -->Downloads schliessen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="downloadModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body text-left">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Newsletter PosiTion</h2>
              <ul class="list-inline ">
                <li><a href="{{ "/upload/pdf/position1_d.pdf" | absURL }}">
                    <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    Nr. 1
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/position2_d.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Nr. 2
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/position3_d.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Nr. 3
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/position4_d.pdf" | absURL }}">
                    <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                    Nr. 4
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/position5_d.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Nr. 5
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/position6_d.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Nr. 6
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/position7_d.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Nr. 7
                  </a>
                </li>
                <li><a href="{{ "/upload/pdf/position8_2014-df.pdf" | absURL }}">
                  <i class="fa fa-download fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  <i class="fa fa-file-pdf fa-inverse fa-1x" style="color: #e5291e;"></i>&nbsp;
                  Nr. 8
                  </a>
                </li>
              </ul>
              <div class="text-center">
                <button type="button" class="btn btn-primary " data-dismiss="modal"><!-- i class="fa fa-times"></i -->Downloads schliessen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
