<section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">News</h2>
          <h3 class="section-subheading text-muted">Aktuelle Meldungen</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-4 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/news/bern-october-14-profile-switzerland-450w-86653759.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Hindernisse abbauen</h4>
            <p class="text-muted">Bundesrat will Wettbewerbshindernisse abbauen</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/news/POC_TB2015_Titel_web.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Postmarkt Schweiz</h4>
            <p class="text-muted">Stellungnahme zum Jahresbericht 2015 der PostCom</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/news/20151130_GAV_Kep_Mail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Gesamtarbeitsvertrag</h4>
            <p class="text-muted">Der GAV tritt am 1. Juli 2016 in Kraft</p>
          </div>
        </div>
        <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
        <!--  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">-->
        <!--    <div class="portfolio-hover">-->
        <!--      <div class="portfolio-hover-content">-->
        <!--        <i class="fa fa-plus fa-3x"></i>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">-->
        <!--  </a>-->
        <!--  <div class="portfolio-caption">-->
        <!--    <h4>Postmarktevaluation</h4>-->
        <!--    <p class="text-muted">Bundesrat zieht falsche Schlüsse auf Grund mangelhafter Postmarktevaluation</p>-->
        <!--  </div>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
        <!--  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">-->
        <!--    <div class="portfolio-hover">-->
        <!--      <div class="portfolio-hover-content">-->
        <!--        <i class="fa fa-plus fa-3x"></i>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">-->
        <!--  </a>-->
        <!--  <div class="portfolio-caption">-->
        <!--    <h4>Starker Postmarkt</h4>-->
        <!--    <p class="text-muted">Der Postmark für die Zukunft</p>-->
        <!--  </div>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-6 portfolio-item">-->
        <!--  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">-->
        <!--    <div class="portfolio-hover">-->
        <!--      <div class="portfolio-hover-content">-->
        <!--        <i class="fa fa-plus fa-3x"></i>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">-->
        <!--  </a>-->
        <!--  <div class="portfolio-caption">-->
        <!--    <h4>Privaten Postdienstleister</h4>-->
        <!--    <p class="text-muted">Geballte Innovationskraft</p>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
          <div class="row text-center intro-text portfolio-item">
      <a class="portfolio-link btn btn-primary btn-xl text-uppercase col-centered" href="{{ "/news" | relURL }}" style="margin: 0 auto;" >Archiv</a>
    </div>

    </div>
  </section>