<section id="ziele">
  <div class="container">
    
    <div class="row ">
      <div class=" col-lg-7 mx-auto text-center mb-5">
        <div class=" text-muted  ">
          <p class="item-intro"><strong>KEP+Mail ist der Verband der privaten Anbieter von <u>K</u>urier-, <u>E</u>xpress-, <u>P</u>aket- und <u>Mail</u>dienstleistungen sowie weiterer Interessenten am Wettbewerb im Schweizer Postmarkt.</strong></p>
          <p>KEP+Mail f&ouml;rdert die Vielfalt von kundengerechten Angeboten durch faire Rahmenbedingungen.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Ziele</h2>
        <!--<span class="fa-stack fa-5x">-->
        <!--      <i class="fa fa-square fa-stack-2x text-primary"></i>-->
        <!--      <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>-->
        <!--  </span>-->
        <!--<h3 class="section-subheading text-muted">KEP+Mail ist der Zusammenschluss der privaten Anbieter von Kurier-, Express-, Paket- und Maildienstleistungen und weiterer Interessenten am Wettbewerb im Schweizer Postmarkt.</h3>-->
      </div>
    </div>

    

    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-door-open fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Marktöffnung</h4>
        <p class="text-muted">Offener Wettbewerb für alle Sendungsarten im Postmarkt</p>
        
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
          </span>
        <h4 class="service-heading">Wettbewerb</h4>
        <p class="text-muted">Marktgerechter Zugang zu Infrastrukturen und Teildienstleistungen der Postanbieter untereinander</p>
        
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-handshake fa-stack-1x fa-inverse"></i>
          </span>
        <h4 class="service-heading">Kundennähe</h4>
        <p class="text-muted">Einfache, anbieterunabhängige Aufgabe- und Abholeinrichtungen für Privat- und Geschäftskunden bedeutet gelebte Kundennähe</p>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="text-center intro-text portfolio-item">
                   <a class="portfolio-link btn btn-primary btn-xl text-uppercase col-centered" href="#ziele-marktoeffnung-modal" style="margin: 0 auto;" data-toggle="modal">erfahren Sie mehr</a>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="text-center intro-text portfolio-item">
          <a class="portfolio-link btn btn-primary btn-xl text-uppercase col-centered" href="#ziele-wettbewerb-modal" style="margin: 0 auto;" data-toggle="modal">erfahren Sie mehr</a>
        </div>
      </div>
      
      <div class="col-md-4">
          <div class="text-center intro-text portfolio-item">
          <a class="portfolio-link btn btn-primary btn-xl text-uppercase col-centered" href="#ziele-kundennaehe-modal" style="margin: 0 auto;" data-toggle="modal">erfahren Sie mehr</a>
          </div>
      </div>
      
    </div>


  </div>
</section>
 