  <div class="portfolio-modal modal fade" id="zielemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Die Ziele der KEP+Mail}</h2>
              <p class="item-intro text-muted">Das Ziel von KEP+Mail, für alle am Markt beteiligten Unternehmen gleiche Marktbedingungen zu schaffen, ist noch nicht erreicht und wird konsequent weiterverfolgt.</p>

       
              <p>Im Fokus der Branche stehen stets die Kunden mit ihren Bedürfnissen. Als unabhängige, wirtschaftlich orientierte Unternehmen sind unsere Mitglieder bestrebt, beste Dienstleistungen anzubieten. Dass dies durchaus gelingt beweist die Tatsache, dass die Branche trotz regulatorischen Hindernissen über 1 Milliarde Umsatz erzielt.</p>
              <ul class="list-inline">
                <li>{Die privaten Postdienstleister garantieren flächendeckende Abholungen und Lieferungen, betreiben Paketstationen und verarbeiten Nachnahmen. Direktfahrten, same day deliverys,
internationaler Versand, Lagerung und Verzollung oder fest definierte Branchenlösungen sind weitere Dienstleistungen. Um im heutigen Marktumfeld bestehen zu können sind Innovation, Kundennähe und Umsetzungsstärke zwingende Basispfeiler der Privaten.</li>
                <li>Tag und Nacht flächendeckend zu arbeiten ist das Versprechen unserer Mitgliedsfirmen. Ob Stein am Rhein, Samnaun, Saas Fee, La Rippe oder Brione – Ausnahmen gibt es nicht. Mit ihren Produkten ergänzen und vervollständigen sie den bestehenden Service public und tragen ihren Teil zur Grundversorgung der Schweizer Bevölkerung und der Unternehmen bei.</li>
                <li>KEP+Mail engagiert sich weiterhin für die komplette Marktöffnung, für die gemeinsame Nutzung von Postfächern und Briefkastenanlagen und leistet so einen wichtigen Beitrag für ökonomisch und ökologisch optimale Bedingungen und Leistungen.</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Ziele schliessen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>