<!DOCTYPE html>
<html lang="de">
{{ partial "head.html" . }}

  <body id="page-top">
  
    <!-- Navigation -->
      <!--  nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" -->
    {{ partial "nav.html" . }}
  
    <!-- Header -->
    {{ partial "header.html" . }}
  
    <!-- Ziele -->
    {{ partial "ziele.html" . }}
  
    <!-- News Grid -->
    {{ partial "news.html" . }}
  
    <!-- About -->
    {{ partial "about.html" . }}
  
    <!-- Member -->
    {{ partial "member.html" . }}
  
    <!-- Downloads -->
    {{ partial "downloads.html" . }}
  
    <!-- Clients -->
    {{ partial "clients.html" . }}
  
    <!-- Portfolio Modals -->
    {{ partial "modals.html" . }}
  
    <!-- Contact -->
    {{ partial "contact.html" . }}
  
    <!-- Footer -->
    <!--{{ partial "footer.html" . }}-->
  
    <!-- JS -->
    {{ partial "js.html" . }}
  
  </body>

</html>
